body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 1;
  flex-direction: column;
  gap: 30px;
}

canvas {
  display: block;
  position:absolute;
  top:0;
  left:0;
}

#title {
  z-index: 1;
  top: 50%;
  left: 50%;
  border: 1px solid black;
  text-align: center;
  background-color: #ff0000a6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#title h1 {
    font-size: 6em;
    color: #333;
}

#consola {
  margin-top:10px;
  display:flex;
  border-radius: 10px;
  border: 1px solid antiquewhite;
  background-color: #000;
  color: #0f0;
  width:60%;
  height: 67%;
  font-family: monospace;
  font-size: 20px;
  line-height: 1.2;
  padding: 10px;
  z-index: 1;
  overflow-y: auto;
  flex-direction: column;
}

#prompt-consola {
  display: inline-block;
  width: 20px;
    margin-right: 5px;
}

input#console-input {
  background: black;
  border: 0px;
  color: #0f0;
  font-family: monospace;
  width:95%;
  font-size: 20px;
}

input#console-input:focus {
  outline: none;
}

#dolar{
  animation: parpadear 1s infinite;  
}

.comando {
    color: #00f;
}

@keyframes parpadear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

img#qr{
  display:flex;
  z-index: 1;
}

::-webkit-scrollbar {
  width: 15px;
  border-radius: 0 10px 10px 0;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 0 10px 10px 0;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 0 10px 10px 0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;

  border-radius: 0 10px 10px 0;
}